[Unit]
Description=Darkflame Universe MasterServer
After=network.target

[Service]
User=ubuntu
Type=simple
Restart=always
WorkingDirectory=/DarkflameServer/build/
ExecStart=/DarkflameServer/build/MasterServer
KillMode=mixed

[Install]
WantedBy=default.target